<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>UI</title>
    <link rel="stylesheet" href="D:/anandh/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="D:/anandh/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="D:/anandh/assets/css/styles.css">
</head>

<body style="background-color: rgba(132,12,12,0);">
    <div class="login-clean" style="background-image: url(&quot;D:/anandh/assets/img/bigstock-d-Rendering-Cloud-Computing-267217441_1024X684.jpg&quot;);background-repeat: no-repeat;background-size: cover;background-position: center;">
        <form id="frm1" action="" method="post" style="background-color: rgb(235,230,229);">
            <h2 class="sr-only">Login Form</h2>
            <div class="form-group"><input class="form-control" type="text" placeholder="Stack Name" name="Stack" style="background-color: rgb(196,197,200);"></div>
            <div class="form-group"><input id="Keypair" class="form-control" type="text" placeholder="KeyPair" name="Keypair" style="background-color: rgb(196,197,200);"></div>
            <div class="form-group"><input id="Itype" class="form-control" type="text" placeholder="Instance Type" name="Instance" style="background-color: rgb(196,197,200);"></div>
            <div class="form-group"><input class="form-control" type="text" placeholder="DB Name" name="Name" style="background-color: rgb(196,197,200);"></div>
            <div class="form-group"><input id="Dbuser" class="form-control" type="text" placeholder="DB User" name="User" style="padding: 10px;background-color: rgb(196,197,200);"></div>
            <div class="form-group"><input id="Dbpass" class="form-control" type="password" name="password" placeholder="DB Password" style="background-color: rgb(196,197,200);"></div>
            <div class="form-group"><input id="Dbroot" class="form-control" type="password" name="rootpassword" placeholder="DB Root Password" style="background-color: rgb(196,197,200);"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Create</button></div>
        </form>
    </div>
    <script src="D:/anandh/assets/js/jquery.min.js"></script>
    <script src="D:/anandh/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>